
<style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>

<footer>
    <div class="flex-row">
       <img src="../../../assets/photos/logoHAKANavText.png" alt="">
       <div class="text">
        <h5>participants</h5>
        <p>Nika Ejibia</p>
        <p>Shako Baidoshvili</p>
        <p>Luka Civadze</p>
        <p>Ali Rahimi</p>
       </div>

       <div class="icons text">
        <h5>our socials</h5>
        <div class="imgRow"><img src="../../../assets/photos/Vector.png" alt=""> <img src="../../../assets/photos/Vector (2).png" alt=""> <img src="../../../assets/photos/Vector3.png" alt=""></div>
       </div>
    </div>
</footer>