<!-- src/app/components/header/header.component.html -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  </style>
  
  <div class="Square">
    <img class="fullresp" src="../../../assets/photos/logoHAKA.png" alt="">
    <div class="btnParent">
      <div class="rightSquare"></div>
      <div class="leftSquare"></div>
      <button (click)="downloadFolder()">Download</button>
      <div class="botSquare"></div>
      <div class="topSquare"></div>
    </div>
    <img class="robotImg" src="../../../assets/photos/laser-robot-creating.gif" alt="">
    <img class="scientistImg" src="../../../assets/photos/main-char.gif" alt="">
  </div>
  