.bgColor{
    background: #4046C4;
    overflow-x: hidden;
    background-image: url('../assets/photos/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
.conteiner{
    position: relative;
    width: 100%;

    padding: 20px;

    
}
}