

<style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
<nav>
    <div class="topSquare"></div>
    <div class="rightSquare"></div>
    <ul>
      <li><img class='firstImg' src="../../../assets/photos/main-char3scientist.png" alt=""></li>
      <li><img src="../../../assets/photos/logoHAKANavText.png" alt=""></li>
      <li>
        <div [class.active]="menuActive" class="menu-toggle" (click)="toggleMenu()">
          <div class="line top"></div>
          <div class="line middle"></div>
          <div class="line bottom"></div>
          <div class="RightPlatform">
            <div class="PtopSquare"></div>
            <div class="PrightSquare"></div>
            <a href="">home</a>
            <a href=" #story">Story</a>
            <a href="#tips">Tips</a>
      

          </div>
        </div>
      </li>
    </ul>
    <div class="leftSquare"></div>
    <div class="botSquare"></div>
  </nav>