
<style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>

<div class="square">
<h3>Story</h3>
<div class="span" id="story"></div>
<div class="imgRow">
<img class="imgLeft" src="../../../assets/photos/AssetPack 3bothSide.png" alt="">
<img  class="imgMid" src="../../../assets/photos/AssetPack 3bothSide.png" alt="">
<img class="imgRight" src="../../../assets/photos/AssetPack 3right.png" alt="">
</div>
<div class="prow">
<div class="row">
    <div class="minSquare" (click)="handleClick('main story')">
        <h4>main story</h4>
    </div>
    <div class="minSquare" (click)="handleClick('profileMain')">
        <img src="../../../assets/photos/profileMain.png" alt="">
    </div>
    <div class="minSquare" (click)="handleClick('profileRobot')">
        <img src="../../../assets/photos/profileRobot.png" alt="">
    </div>
</div>

<p> 
    {{showInfo}}</p>

    <div class="leftimg">
        <img src="../../../assets/photos/AssetPack 2main1.png" alt="">
        <img src="../../../assets/photos/AssetPack 2main2.png" alt="">
        <img src="../../../assets/photos/AssetPack 2main3.png" alt="">
    </div>
 </div>
 
</div>
